// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.CollegeSeats--courses {
  display: grid;
  grid-template-columns: repeat(auto-fill, 52px);
  grid-gap: 5px;
  grid-auto-rows: minmax(10px, auto);
}

.CourseSeats {
  border: 1px solid #ddd;
}

.CourseSeats--code {
  font-size: 10px;
  overflow: hidden;
  height: 12px;
}

.CourseSeats--seats {
  display: flex;
  flex-flow: row wrap;
}

.CourseSeats--seat {
  flex: none;
  width: 5px;
  height: 5px;
  margin: 1px;
  background: #333;
}

.CourseSeats--seat--e {
  background: #a6d6b2;

  .CourseSeats--after-first-load & {
    animation-duration: 1.2s;
    animation-name: glow-green;
    animation-iteration-count: 1;
  }
}

.CourseSeats--seat--f {
  background: #f5abab;

  .CourseSeats--after-first-load & {
    animation-duration: 1.2s;
    animation-name: glow-red;
    animation-iteration-count: 1;
  }
}

@keyframes glow-green {
  0% {
    background: #7efb9d;
    box-shadow: 0 0 5px 1px rgba(#7efb9d, 1);
    z-index: 1;
  }

  100% {
    box-shadow: 0 0 5px 1px rgba(#7efb9d, 0);
    z-index: 1;
  }
}

@keyframes glow-red {
  0% {
    background: #ff7d7d;
    box-shadow: 0 0 5px 1px rgba(#ff7d7d, 1);
    z-index: 1;
  }

  100% {
    box-shadow: 0 0 5px 1px rgba(#ff7d7d, 0);
    z-index: 1;
  }
}
